.header-class {
    display: flex;
  }
  
  .header-class > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .logo-img{
    width:120px;
    height:80px;
  }
  
  .nav-links{
    color: #180757;
    margin-bottom: 3px;
    font-family: "Menlo", monospace;
    font-size: 10px;
    letter-spacing: 0.01em;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 200;
  }