.header-class {
    display: flex;
  }
  
  .header-class > div {
    margin: 10px;
    padding: 20px;
  }

  .logo-img{
    width:120px;
    height:80px;
  }
  
  .nav-links{
    color: #180757;
    font-size:10px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.01em;
    font-style:normal;
  }