.header-class {
    display: flex;
  }
  
  .header-class > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .logo-img{
    margin: 0 auto;
    width:50px;
    height:80px;
  }