<section id="techBlogCard">
    <span class="h1"><a href="<%- url_for("tech") %>">TECH</a></span>
    <span class="h1"><a href="<%- url_for("art") %>">ART</a></span>
    <span class="h1"><a href="<%- url_for("youngster") %>">ABOVE 18
        UNDER 30
    </a></span>

  </section>