<section id="techBlogCard">
    <span class="h1"><a href="<%- url_for("traditional") %>">Traditional</a></span>
    <span class="h1"><a href="<%- url_for("digital") %>">digital</a></span>
  </section>